<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : 跟接口绑定 -->   
<mapper namespace="com.zhangchao.mapper.UserMapper">
    <!-- id : 接口方法名 -->
    <select id="getEmpById" resultType="com.zhangchao.bean.User">
        SELECT * FROM t_user WHERE id=#{id}
    </select>
	
	<!--  
    <insert id="insertEmp">
        INSERT INTO employee (lastName,email,gender,d_id) 
        VALUES (#{lastName},#{email},#{gender},#{dId})
    </insert>
    -->
    
    <delete id="deleteEmpById" parameterType="Integer">
    	delete from t_user where id = #{id}
    </delete>
</mapper>